/* Colours */

$white: #fafafa;
$green: #67e789;
$light-grey: #a0a0a0;
$light-grey-2: #cacaca;
$dark-grey: #050505;
$black-transparent: rgba(20, 20, 20, 0.7);

$colour-landing-1: $white;
$colour-landing-2: $green;
$colour-landing-3: $light-grey;
$colour-landing-4: $dark-grey;
$colour-landing-5: $black-transparent;

$colour-1: $light-grey;
$colour-2: $dark-grey;
$colour-3: $white;
$colour-4: $light-grey-2;
$colour-5: $black-transparent;

$colour-facebook-icon: #427dd6;
$colour-github-icon: grey;
$colour-linkedin-icon: #427dd6;

/* Fonts */

$font-main-title: 'Poiret One', cursive;
$font-nav: 'Poppins';

$font-heading-1: 'Poppins';
$font-heading-2: 'Poppins';
$font-heading-3: 'Poppins';

$font-text: 'Lora', serif;

/* Main images */

$background-landing-url: url(../assets/landingPage/backgroundImage.jpg);
$background-regular-url: url(../assets/_common/bg_dark_sharp_edges.png);