@import '_common';

.button {
	font-size: 1rem;
    background: $colour-1;
	border: 1px solid $colour-2;
	text-decoration: none;
	font-weight: 700;
	text-align: center;

	@include transition(.2s);

	&:focus {
		outline: 0;
	}

	&:hover {
		background: $colour-2;
	}

	&:active {
		background: $colour-2;
	}
}

.link-button {
	flex: 1;
	padding: 0.625rem;
	margin: 0.625rem;
	border: 1px solid $colour-2;
	padding: .75rem 1rem;
	color: $colour-2;
	font-family: $font-heading-2;
}

.horizontal-flex-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}